*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(/img/background.png) ;
    background-size: 50%;
    
    
 
}

.c{
    background-color: rgba(125, 24, 51, 100%);
    color: #ffffff;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto ;
    grid-gap: 0.4rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.i1 img{
width: 16.9;
height: 22.15rem;
border: #ff9100 solid 0.4rem;
}
.i2 img{
 width: 16.5rem;
 height: 10.875rem;
 border: #ff9100 solid 0.4rem;
}
h1{
    border-bottom: #ffffff 1px solid;
}
